*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: -2%; 
    box-sizing: none;
}

ul{
    margin-top: 4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 28px;
    font-weight: bold;
text-decoration: none;
color: blue;
margin-top: 3%;
transition: .4s ease;
}

ul li a:hover{
    color:deeppink;
}

.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: rgb(3, 17, 9);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1%;
    line-height: 24px;
    font-family: 'Courier New', Courier, monospace;

}
body{
    background-color: #75FA8D;
}
.info span{
color: rgb(6, 105, 75);
}

.info a{
   color: white;
background-color:rgb(29, 95, 55);
margin: 26px 0;
padding: 10px 18px;
border-radius: 10px;
display: inline-block;
transition: .4s ease;
}

.info a:hover{
    color: black;
}


.image{
    position: absolute;
    padding : 200px;
    width: 400px;
    box-sizing: content-box;
    border-radius: 100%;
    transform: translate(-30%);
    margin-left: 900px;
    margin-bottom: 2px;
    bottom: 0;

}

.image img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    grid-area: 1/1/2/2;
    
}

.icons a{
    text-decoration: none;
    color: blueviolet;
}

.icons ion-icon{
    margin-left: 7%;
    color: blue;
    margin-right: -60px;
    font-size: 40px;
transition: .4s ease;
}

.icons ion-icon:hover{
    color:brown;

}
.skills{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    text-decoration: underline;
}
.style_skills{
   padding: 20px;
   margin: 3px;
   gap: 2px;
}
.hr{
    color: black;
}
.project{
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        text-align: center;
        text-decoration: underline;
}
.project_style h3{
    font-size: 30px;
    text-decoration: underline;
    color: darkblue;
    text-align: 30px;
}
.project_style a{
    font-size: 40px;
text-align: 30px;
    color: rgb(152, 5, 51);

}
.project_style p{
    font-size: 30px;
font-family: 'Times New Roman', Times, serif;
    color: rgb(12, 35, 16);
    text-align: 50px;
    margin: 5px;
    padding: 2px;
}
.hr1{
    color: black;
    line-height: normal;
    lighting-color: black;
}
.footer{
    background-color:#a9f1d9;
    font-size: 20px;
}

